@media(max-width:768px){
    h1{
        font-size: 45px;
    }
    .top-cloud{
        position: absolute;
        top:20px;
        right:150px;        
    }
    .bottom-cloud{
        position: absolute;
        bottom: 150px;
        left: 150px;
    }
   
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
span{
    text-decoration: underline;
}
.top-container{
    padding-top: 100px;
    position: relative;
    background-color:#C3F8FF;
    height: 100%;
    font-family:Arial Black, Helvetica, sans-serif;
   
}
#skill-row{
    margin-left: auto;
    margin-right: auto;
}
.top-cloud{
    position: absolute;
    top:50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}
