
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    width: 100%;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
span{
    text-decoration: underline;
}
.top-container{
    padding-top: 100px;
    position: relative;
    background-color:#C3F8FF;
    height: 100%;
    font-family:Arial Black, Helvetica, sans-serif;
   
}

.top-container .mountain {
    width:70%;
}

#skill-row{
    margin-left: auto;
    margin-right: auto;
}
.top-cloud{
    position: absolute;
    top:50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

@media(max-width:768px){
    h1{
        font-size: 45px;
    }
    .top-cloud{
        position: absolute;
        top:20px;
        right:150px;        
    }
    .bottom-cloud{
        bottom: 260px;
        overflow:hidden;
        left: 300px;
    }
   
}
